.logo{
    margin-top:100px;
    width:300px;
    display:block;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
  }
  .input{
    width:400px;
    display:block;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    height:24px;
    border-radius:24px;
    border:1px solid #dfe1e5;
  }
  .main{
    margin-top:100px;
  }
  .button{
    margin-top:10px;
    margin-bottom:auto;
    margin-left:5px;
    margin-right:5px;
    padding-left:16px;
    padding-right:16px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:14px;
    border-radius:4px;
    border:none;
    background:#dfe1e5;
    
  }
  .button-wrapper{
    display:flex;
    justify-content:center;
  }
  